#btn1{
    margin-top: 100px;
    background-color: black;
    width: 400px;
    height: 80px;
    color: white;
    font-size: 20px;
    border-color: white;
}
    
#p1{
    text-align: center;
    color: white;

}
.App{
    background-color: black;
}
