#btn2{
    width:80px;
    height: 80px;
}

#btn3{
    width:80px;
    height: 80px;
}

#btn4{
    width:80px;
    height: 80px;
}
#btn5{
    width:80px;
    height: 80px;
}
#btn6{
    width:80px;
    height: 80px;
}
#btn7{
    width:80px;
    height: 80px;
}
#btn8{
    width:80px;
    height: 80px;
}
#btn9{
    width:80px;
    height: 80px;
}
#btn10{
    width:80px;
    height: 80px;
}
#btn11{
    width:90px;
    height: 80px;
}